.flex {
  display: flex;
}
.iFlex {
  display: inline-flex;
}
.flex1 {
  flex: 1;
}
.sb {
  justify-content: space-between;
}
.sa {
  justify-content: space-around;
}
.sc {
  justify-content: center;
}
.ac {
  align-items: center;
}
.center {
  justify-content: center;
  align-items: center;
}
.col {
  flex-direction: column;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clear::after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.ib {
  display: inline-block;
  vertical-align: top;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.pf {
  position: fixed;
}
.oh {
  overflow: hidden;
}
.ell {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.hand {
  cursor: pointer;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.tc {
  text-align: center;
}
.bb {
  box-sizing: border-box;
}
.f16 {
  font-size: 16px;
}
.f18 {
  font-size: 18px;
}
.f24 {
  font-size: 24px;
}
.f26 {
  font-size: 26px;
}
.f28 {
  font-size: 28px;
}
.f32 {
  font-size: 32px;
}
.f36 {
  font-size: 36px;
}
.bold {
  font-weight: bold;
}
.un {
  user-select: none;
}
*::-webkit-scrollbar-track-piece {
  background-color: #fff;
  border-radius: 0
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #b8b8b8;
  border-radius: 6px;
  outline: 2px solid #fff;
  outline-offset: -2px;
  border: 2px solid #fff;
  opacity: 0.5
}

*::-webkit-scrollbar-thumb:hover {
  height: 50px;
  background-color: #878987;
  border-radius: 6px
}
